@model ChatApp.Models.Home.HomeModel
@{
    ViewData["Title"] = "Home Page";

}
  <div class="container">

      <h2> <i class="fas fa-angle-double-right"></i> Meeting Point</h2>
        @{
            <div >
                <ul>
                    @foreach (var profile in Model.Profiles)
                    {
                        <partial name="_ProfileDetails" model="profile" />
                    }
                </ul>
            </div>
        }
        <!-- <h2>ChatGroups <i class="fas fa-angle-double-right"></i> Index</h2>
     @{
         <div>
             <ul class="hs">
                 foreach (var chatGroup in Model.ChatGroups)
                 {
                     _GroupDetails
                 }
             </ul>
         </div>
     }-->
  </div>
  
