@model IndexChatModel
    <ul>

        @foreach (var chat in @Model.Chats)
        {
            <li>
                <ul>
                    @foreach (var message in chat.Messages)
                    {
                        <li>
                            @message.Bericht
                        </li>
                    }
                 </ul>

            </li>
        }
    </ul>
